nav {
  margin: 20px auto 10px 20px;
}

.openingBanner {
  padding: 20px 80px;
}

#headerImage {
  width: 60%;
  height: auto;
}

.project-card {
  margin: auto 10px;
  min-height: 400px;
}

@media screen and (max-width: 480px) {
  .row {
    flex-direction: column;
  }
}
